[color]
  ui = auto
[alias]
  di = diff
  ct = commit
  llog = log --date=local
	c = checkout
	a = add
	cm = commit -m
	s = status
	b = branch
	po = push origin
[rerere]
  enabled = true
[user]
	email = eabinante@gmail.com
	name = Liz Abinante
